
/* Your CSS Code here. */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
/*   height: 100vh; */
}

.holder {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two rows of equal size */
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal size */
  gap:0px; /* Adjust this value based on your spacing preference */
/*   width: 200px; /* Total size of the grid */ */
}

.item {
  border: 1px solid #000;
  padding: 45px;
  text-align: center;
}